* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --pri-color:#4F46E5;
}

.bg-light {
    background-color: var(--pri-color) !important;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #fff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sign-up {
    color: #fff;
    margin-top: 5px;
    
}